[submodule "rocksdb"]
	path = librocksdb_sys/rocksdb
	url = https://github.com/v01dstar/rocksdb.git
	branch = user_timestamp

[submodule "titan"]
	path = librocksdb_sys/libtitan_sys/titan
	url = https://github.com/tikv/titan.git
	branch = master
