[submodule "rocksdb"]
	path = librocksdb_sys/rocksdb
	url = https://github.com/v01dstar/rocksdb.git
	branch = remove-raftstore-v2

[submodule "titan"]
	path = librocksdb_sys/libtitan_sys/titan
	url = https://github.com/v01dstar/titan.git
	branch = remove-raftstore-v2
